br{
    line-height: 200%
}
.row{
    border-style: solid;
    border-color: black;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.navbar{
    background-color: #cccccc;
  /*  text-align: center;*/
}

h2{
    text-align: center;
}