br{
    line-height: 200%
}

h1{
    text-align: center;
    color: #80002a;
}
h3{
    text-align: center;
}
.navbar{
    background-color: #000033;
    text-align: center;
}

h2{
    text-align: center;
}

.row{
    border-style: solid;
    border-color: black;
}
a{
    color:#cccccc;
}
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #cccccc;
}
.header{
    color: #80002a;
}