body {
	background-color:  white;
}
h1 {
	color: #80002a;
	font-size:50px;
	text-align: center;
}
.story {
	background-color: #c2d6d6;
	padding: 10px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;

}
.navbar{
 background-color: #cccccc;
}

/*nav ul{
	list-style:none;
}

nav li {
	font: georgia;
	background-color: #88cc00;
	display: inline-block;
	border-right:1px solid #bbb;
	font-size: 22px;
	padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px
*/

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
  }
}
nav {
	display: inline-block;
}
.menu {

	text-align: center;
	background-color: none;

}
	
	
}
.group-pic{
	/*background-color: #c2d6d6*/
	padding: 20px;
	margin-top: 20px;
	height: 50px;
	width: 50px;

}

#grouppic{
	margin:auto;
	padding: 20px;
	margin-top: 20px;
	height:750px;
	width: 850px;
	
	/*width: 80%;
	height: 55%;*/
}
#logo{
	margin:auto;
	height: 70px;
}
p {
	font-size: 22px;
	
}
.styling {
	display:block;
}
figcaption {
	font-size: 60px;
}
.management{
	display: inline-block;
}

.item{
  width: auto;
  height: 325px;
  max-height: 325px;
}

/*.carousel-inner > .item > img >  #exception{
	width:90%;
	margin:auto;
}*/